# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Nils\OneDrive - Hochschule RheinMain\Java\GradelFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/usage.statistict.xml
/tasks.xml
/modules.xml/